<header>
    <nav>
        <h2>Kimmy Restaurant</h2>
        <ul>
            <li><a href="/book-table">Book Table</a></li>
            <li><a href="/ordered-food">Ordered Food</a></li>
        </ul>
    </nav>
</header>
