<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <title>Kimmy Restaurant</title>
</head>
<body>
    <%- include('../partials/header') %> 
    <%- body %> 
</body>
</html>