<h2>ORDERED FOOD</h2>
<div>
    <% occupiedTables.forEach(occupiedTable => { %> 
        <h6 id="table<%= occupiedTable.id %>">
            Table <%= occupiedTable.id %> | <%= occupiedTable.seat %> seats | Status: <%= occupiedTable.status %>
        </h6>
    <% }) %> 
</div>

<script>
    $(document).ready(function() {
        // when click a particular table to order food & drink
        $("[id^='table']").click(function() {
            var table_id = $(this).attr('id')
            table_id = table_id.split('table')[1]
            $.get(`/ordered-food/${table_id}`, { table_id: table_id }, () => {
                window.location.replace(`/ordered-food/${table_id}`)
            })
        })
    })
</script>